h1, p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::placeholder {
    color: rgb(99, 132, 137);
}

::-webkit-input-placeholder {
    text-align: center;
  }

label {
    color:rgb(59, 99, 106);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: inline-block;
    width: 250px;
}

input {
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    border: 3px solid #bdcfdf;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input:focus {
    border: 3px solid rgb(255, 232, 80);
}

option {
    font-size: 20px;
}

textarea {
    width: 300px;
    height:100px;
    border:3px solid rgb(219, 219, 219);
    box-shadow: 0px 5px 12px rgb(209, 209, 209);
    outline: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea:focus {
    border: 3px solid rgb(255, 232, 80);
}

.button {
    border-radius: 15px;
    padding: 6px;
    letter-spacing: .5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
    border: 0ch;
    background-color: rgb(92, 164, 176);
    color: aliceblue;
    cursor: pointer;
}

.header_logged_out {
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 0%;
    margin-bottom: -25px;
    color:rgb(92, 164, 176);
    font-style: italic;
    font-size: 6rem;
    background-color: rgb(255, 255, 255);
    background-image: url("https://thumbs.gfycat.com/AblePassionateAnemoneshrimp-size_restricted.gif");
    background-repeat: no-repeat;
    background-position-y: -150px;
    background-position-x: 0px;
    background-size:750px;
}   

.text_under_header {
    color:rgb(242, 253, 255);
    font-size: 30px;
    font-style: oblique;
    font-weight: 700;
    position: relative;
    margin-left: 30px;
}

.homeContainer {
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-color:rgb(176, 231, 255);
    width: 100%;
    margin-left: -.4%;
    overflow: hidden;
}

.form_holder {
    margin: auto;
    margin-top: 5%;
    width: 50%;
}

.form {
    margin: auto;
    width: 45%;
    text-align: center;
    background-color: #d9edff;
}

.password_backdrop {
    background-color: rgb(160, 208, 228);
    width: 400px;
    padding: 3px;
    margin: auto;
    border: solid rgb(59, 99, 106);
}

.corner_logo {
    color:rgb(92, 164, 176);
    font-style: italic;
    margin-top: 5px;
    margin-left: 10px;
    width:6%;
    cursor: pointer;
}

.subtext {
    text-align: center;
    margin: auto;
    width: 30%;
    cursor: pointer;
}

.navbar {
    background-color:rgb(255, 232, 80);
}

.menu {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -240%);
    padding:.5em .5em;
    margin-left:20px;
    margin-top: 5px;
    margin-bottom: 5px;
    width:7%;
    text-align: center;
    font-size: 100%;
    font-weight: 600;
    color: #84919c;
    background-color: #3b4b5a;
    border: none;
    box-shadow: 3px 5px 15px;
    cursor: pointer;
}

.cart_icon {
    background-color: #232323;
    position:absolute;
    left: 87%;
    top:.3%;
    width:3%;
    border: solid 3px rgb(255, 255, 255);
    border-radius: 30px;
    cursor: pointer;
}

.cart_drop_menu {
    position: absolute;
    z-index: 99 !important;
    background-color:#c0c0c0;
    height: 33%;
    width:15%;
    left: 81%;
    top:5%;
    padding: 3px;
    display: grid;
    row-gap: 20px;
    grid-template-columns: 100%;
    overflow:auto;
}

.cart_item {
    margin: auto;
    width: 90%;
    text-align: center;
    box-shadow: 0px 5px 10px #9c9c9c;
    background-color: #c6c6c6;
    font-size: 16px;
    font-weight: 600;
}

.button_cart_close {
    position: fixed;
    background-color: #232323;
    color:#ffe100 ;
    font-size: 1.2rem;
    display: block;
    margin: auto;
    left: 82.8%;
    width:12%;
    top: 1%;
    height: 4%;
    border: solid 3px #ffffff;
    border-radius: 30px;
    z-index: 99 !important;
    cursor: pointer;
}

.total {
    position: fixed;
    display: inline-block;
    top: 36.5%;
    left: 80.8%;
    background-color: #ffe100;
    width: 291.5px;
    padding-bottom: 5px;
    padding-top: 2px;
    padding-left: 3px;
    border: solid #232323;
}

.checkout {
    top: 37.5%;
    left: 91.5%;
    z-index: 99;
    position: fixed;
    background-color: #232323;
    color: #ffe100;
    border: solid #ffffff;
    font-size: 20px;
    padding: 12px;
    border-radius: 30px;
}

.sub_header {
    color:rgb(92, 164, 176);
    font-style: italic;
    margin-top: 5px;
    margin-left: 10px;
}

.search_form {
    position: relative;
    margin: auto;
    text-align: center;
}

.search_bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -140%);
    height: 35px;
    font-size: large;
}

.products_holder {
    margin: auto;
    display: grid;
    row-gap: 30px;
    grid-template-columns: 25% 25% 25% 25%;
    height:53rem;
    width:70%;
    overflow:auto;
    background-color: rgb(220, 220, 220);
}

.product_card {
    width: 95%;
    height: 95%;
    margin: auto;
    font-size: 15px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0px 2px 10px rgb(168, 168, 168);
}

.product_c_image {
    display: inline-block;
    max-width: 200px;
    object-fit: cover;
    margin-top: -10px;
    margin-bottom: -20px;
}

.product_detail_background {
    background-color: rgb(240, 240, 240);
    height: 120ch;
}

.product_detail_h {
    color:#3b4b5a;
    font-size: 2em;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product_detail {
    margin-left: 10%;
    width: 50%;
    text-align: center;
    font-size: larger;
    font-weight: 600;
    background-color:rgb(220, 220, 220);
    box-shadow: 0px 2px 10px rgb(168, 168, 168)
}

.product_price {
    font-size: 175%;
    background-color: #84919c;
    width:30%;
    margin: auto;
}

.button_add_cart_detail {
    border-radius: 15px;
    font-size: 20px;
    padding: 6px;
    letter-spacing: .5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
    border: 0ch;
    background-color: rgb(92, 164, 176);
    color: aliceblue;
}

.button_review_detail {
    border-radius: 15px;
    font-size: 20px;
    padding: 6px;
    letter-spacing: .5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
    border: 0ch;
    background-color: rgb(92, 164, 176);
    color: aliceblue;
    position: absolute;
    width:25%;
    left: 63.5%;
    top:8%
}

.product_review_h {
    color:#3b4b5a;
    font-size: 2em;
    margin-bottom: 1px;
    margin-top:-25px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.detail_review_holder {
    position: absolute; 
    text-align: center;
    width:30%;
    left: 61%;
    top:8%
}

.detail_reviews_list {
    position: absolute;
    height:53%;
    width:30%;
    left: 61%;
    top:38%;
    margin: auto;
    display: grid;
    row-gap: 20px;
    grid-template-columns: auto;
    overflow:auto;
    background-color:rgb(220, 220, 220);
    box-shadow: 0px 2px 10px rgb(168, 168, 168)
}

.user_reviews {
    display: inline-block;
    line-height: 10px;
    margin: auto;
    font-size: 23px;
    color:#3b4b5a;
    background-color:#c0c0c0;
    padding: 10px 10px;
}

.shop_background {
    background-color: rgb(240, 240, 240);
}

.profile_page {
    background-color: rgb(240, 240, 240);
}

.profile_header {
    color:rgb(92, 164, 176);
    font-style: italic;
    margin-top: 3px;
    margin-left: 12%;
    font-size: 5em;
}

.profile_holder {
    background-color: #3b4b5a;
    width: 70%;   
    margin: auto;
    height:110ch;
}

.profile_info {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
}

.profile_info_backing {
    background-color: #bdcfdf;
    margin-right: 60%;
    margin-top: -40px;
    margin-left: 4.5%;
    height: 85px;
}

.profile_forms_holder {
    position:absolute;
    left: 49%;
    top:18%;
    z-index: 99 !important;
}

.prof_change_form {
    position:absolute;
    left: -54%;
    top:-140%;
    margin: auto;
    width: 200%;
    height: 380%;
    text-align: center;
    background-color: #d9edff;
    z-index: 99 !important;
}

.reviews_heading {
    margin-left: 67%;
    margin-top: -20%;
    font-size: 2em;
    color:rgb(92, 164, 176);
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.reviews_holder {
    position: absolute;
    top: 13%;
    left: 62%;
    margin: auto;
    display: grid;
    row-gap: 30px;
    grid-template-columns: auto;
    height:79%;
    width:20%;
    overflow:auto;
    background-color: rgb(220, 220, 220);
    box-shadow: 3px 3px 15px #232323;
}

.review_card {
    margin: auto;
    width: 100%;
    color: #ffffff;
    background-color:#84919c;
}

.review_text {
    margin-left: 5px;
}

.review_image {
    width:100%
}

.orders_heading {
    margin-left:4.5%;
    margin-top:0%;
    font-size: 2em;
    color:rgb(92, 164, 176);
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.orders_holder {
    position: absolute;
    top: 35%;
    left: 18%;
    height:57%;
    width:42%;
    overflow:auto;
    margin: auto;
    display: grid;
    row-gap: 30px;
    grid-template-columns: auto;
    background-color: rgb(220, 220, 220);
    box-shadow: 3px 3px 15px #232323;
}

.error_messages {
    position: absolute;
    top: 53%;
    left: 76%;
    transform: translate(-50%, -50%);
    color: #ff5e00;
    font-size: large;
    font-weight: 600;
}