.form {
    margin: auto;
    width: 30%;
    min-width: 50vh;
    text-align: center;
    background-color: #d9edff;
    border-radius: 20px;
}

.sub_header {
    color:rgb(92, 164, 176);
    font-style: italic;
    margin-top: 30%;
    margin-left: 10px;
}

.password_backdrop {
    background-color: rgb(160, 208, 228);
    width: 400px;
    padding: 3px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 3px rgb(136, 175, 192);
}

.button {
    border-radius: 15px;
    padding: 6px;
    letter-spacing: .5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
    border: 0ch;
    background-color: rgb(92, 164, 176);
    color: aliceblue;
    cursor: pointer;
}

.error_messages {
    position: absolute;
    top: 53%;
    left: 76%;
    transform: translate(-50%, -50%);
    color: #ff5e00;
    font-size: large;
    font-weight: 600;
}

.subtext {
    text-align: center;
    margin: auto;
    padding-bottom: 8px;
    width: 80%;
    cursor: pointer;
}