.search_form {
    position: relative;
    margin: auto;
    text-align: center;
}

.search_bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -140%);
    height: 35px;
    font-size: large;
}

.vendor_filter {
        position: absolute;
        left: 25%;
        transform: translate(-50%, -240%);
        padding:.5em .5em;
        margin-left:20px;
        margin-top: 1%;
        margin-bottom: 5px;
        width:9%;
        text-align: center;
        font-size: 100%;
        font-weight: 600;
        color: #ffffff;
        background-color: #75a2bc;
        border: none;
        box-shadow: 3px 5px 15px #466070;
        cursor: pointer;
}