.search_form {
    position: relative;
    margin: auto;
    text-align: center;
}

.search_bar {
    position: relative;
    top: -3em;
    height: 2em;
    font-size: 100%;
    font-weight: 700;
}

.vendor_filter {
        position: relative;
        top: -7em;
        left: 25%;
        padding:.5em .5em;
        width:9%;
        text-align: center;
        font-size: 100%;
        font-weight: 600;
        color: #ffffff;
        background-color: #75a2bc;
        border: none;
        box-shadow: 3px 5px 15px #466070;
        cursor: pointer;
}