.shop_background {
    background-color: rgb(240, 240, 240);
}

.products_holder {
    margin: auto;
    display: grid;
    row-gap: 30px;
    grid-template-columns: 25% 25% 25% 25%;
    height:54.5rem;
    width:70%;
    overflow:auto;
    background-color: rgb(220, 220, 220);
}

.quality_products_holder {
    position: absolute;
    row-gap: 30px;
    grid-template-columns: 20%;
    top:7.4%;
    height:54.5rem;
    width:15%;
    overflow:auto;
    background-color: rgb(220, 220, 220);
}

.error_message {
    position:absolute;
    left: 65%;
    top: -1.5%;
    font-size: 25px;
    color: rgb(255, 72, 0);
    font-weight: 700;
    padding: 5px;
    margin-bottom: -5px;
}