.shop_background {
    position: relative;
    top: 110%;
    background-color: #9fdcff;
}

.products_holder {
    position: absolute;
    top:7.5%;
    left: 15%;
    height: 54.5rem;
    margin: auto;
    display: grid;
    row-gap: 30px;
    grid-template-columns: 25% 25% 25% 25%;
    width:70%;
    overflow:auto;
    background-color: rgb(220, 220, 220);
}

.error_message {
    position:absolute;
    left: 65%;
    top: -1.5%;
    font-size: 25px;
    color: rgb(255, 72, 0);
    font-weight: 700;
    padding: 5px;
    margin-bottom: -5px;
}